@model OrderViewModel

<div class="card">
    <h5 class="card-header">Order Number: @Model.Id</h5>

    <div class="card-body">
        <h5 class="card-title">User: @Model.FullName</h5>
        <h5 class="card-title">Price: <b>@Model.Price$</b></h5>

        <h5 class="card-title">Order: @Model.FullName</h5>
        <div class="menu">
            @foreach (var pizza in @Model.Pizzas)
            {
                <partial name="~/Views/Shared/_Pizza.cshtml" for="@pizza" />
            }
        </div>

        <a asp-controller="Order" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-success">Details</a>
    </div>

</div>