@using System.Globalization
@model List<Product>

@{
    ViewData["Title"] = "Online Shop";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            for(int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Price.ToString("C", new CultureInfo("mk-Mk"))</td>
                    <td>@Model[i].Category</td>
                    <td>@Model[i].Quantity</td>
                    <td>
                        <a asp-controller="Market" asp-action="Details" asp-route-id="@Model[i].Id">Details</a>
                        <a asp-controller="Market" asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

