

<h2>@ViewData["Title"]</h2>

<h4>Dear user @ViewData["Message"]</h4>

<h4>User details:</h4>
@*<p>Firsname: @ViewData["User"].FirstName</p>
    <p>Lastname: @ViewData["User"].LastName</p>
    <p>Age: @ViewData["User"].Age</p>*@



<p>Firsname: @ViewBag.User.FirstName </p>
<p>Lastname: @ViewBag.User.LastName</p>
<p>Age: @ViewBag.User.Age</p>

