@model SEDC.PizzaApp.Models.ViewModels.OrderDetailsViewModel
<h2>@ViewBag.Title</h2>
<p>Id: @Model.Id - Pizza Name: @Model.PizzaName - User: @Model.UserFullName</p>
<p>Payment Method: @Model.PaymentMethod</p>

<p>@ViewBag.User.FirstName</p>