@model PizzaVM
@{
    ViewData["Title"] = "Testing";
}

<div>
    HTML HELPERS

    =>  ACTION LINK <=
    @* Calling an action in the same controller, the <a> tag will have Back to test index
        text inside
    *@
    @Html.ActionLink("Back to Test Index", "Index")
    @* Calling an action in Home controller, the <a> tag will have Back to home
        text inside
    *@
    @Html.ActionLink("Back to Home", "Index", "Home")
    @* Calling an action in Home controller, the <a> tag will have Back to home
        text inside, with adding id paramter at the end of the adress with value 0
    *@
    @Html.ActionLink("Go to item with id 0", "Index", "Home", new { id = 0 })

    => Display value of model <=
    @Html.Display("Name")
    @Html.DisplayFor(pizza => pizza.Name)

    => Label <=
    @Html.Label("Name")
    @Html.LabelFor(x => x.Name)

    => TEXT BOX <=
    @Html.TextBox("Price")
    @Html.TextBoxFor(pizza => pizza.Price)

    => DROP DOWN LIST <=
    @Html.DropDownListFor(pizza => pizza.Size, Html.GetEnumSelectList(Model.Size.GetType()))
    @Html.DropDownListFor(pizza => pizza.Size, Html.GetEnumSelectList(Model.Size.GetType()), "Select a pizza")

    => FORMS <=
    @using (Html.BeginForm())
    {
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        <br />
        @Html.DropDownListFor(pizza => pizza.Size, Html.GetEnumSelectList(Model.Size.GetType()), "Select a pizza")
        <br/>
        <button type="submit">Add Pizza</button>

    }
</div>
<div>
    TAG HELPERS
    =>  ACTION LINK <=
    <a asp-controller="Test" asp-action="Index">Back to test index</a>
    <a asp-controller="Home" asp-action="Index">Back to home</a>
    <a asp-controller="Home" asp-action="Index" asp-route-id="0">Go to item with id 0</a>

    => Label <=
    <label asp-for="Name"></label>

    => Text BOX <=
    <input asp-for="Price" />

    => Drop down list <=
    <select asp-for="Size" asp-items="Html.GetEnumSelectList<PizzaSize>()">
    </select>
    <select asp-for="Size" asp-items="Html.GetEnumSelectList<PizzaSize>()">
        <option value="">Select a pizza size</option>
    </select>
    <form asp-controller="Test" asp-action="Testing" method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <br />
        <label asp-for="Price"></label>
        <input asp-for="Price" />
        <br />
        <select asp-for="Size" asp-items="Html.GetEnumSelectList<PizzaSize>()">
            <option value="">Select a pizza size</option>
        </select>
        <br />
        <button type="submit">Add pizza</button>

    </form>
</div>

@*
    Action link
    <a href="/Home/Index/0"> Go to item with id 0 </a>

    Display
    Kapri

    Label
    <label for="Name">Pizza Name: </label>

    Text box
    <input id="Name" name="Name" type="text" value="20" />
    <input id="Name" name="Name" type="text" value="" />

    DropDown list
    <select id="Size" name="Size">
        <option value =""> Select a pizza size </option>
        <option value =1> Small </option>
        <option value =2> Medium </option>
        <option value =3> Familly </option>
    </select>
*@}

