@model List<OrderDetailsViewModel>
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>
@*<ul>
    @for (int i = 0; i < Model.Count; i++)
    {
        <li>Id: @Model[i].Id - Pizza Name: @Model[i].Pizza.Name - User: @Model[i].User.FirstName</li>
        <li>Id: <span>@Model[i].Id</span> - Pizza Name: @Model[i].PizzaName - User Full Name: @Model[i].UserFullName
    
        </li>
    }
</ul>*@
<a asp-controller="Order" asp-action="CreateOrder">Create Order</a>

@for(int i=0; i< Model.Count; i++)
{
    <partial name="~/Views/Shared/Partials/_OrderDetails.cshtml" for="@Model[i]"/>
    @*<a asp-controller="Order" asp-action="Details" asp-route-id="@Model[i].Id">See Details</a>*@
    @Html.ActionLink("See Details","Details","Order", new {id=@Model[i].Id})
    <a asp-controller="Order" asp-action="EditOrder" asp-route-id="@Model[i].Id">Edit order</a>
    <a asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@Model[i].Id">Delete order</a>
    <hr/>
}

<p>@DateTime.Now</p>
<span>@ViewData["SharedMessage"]</span>

@*<p>@ViewData["User"].Id</p>*@

@*<select>
    <option value="1">1</option>
    <option>2</option>
</select>*@

