@model OrderViewModel

<div>
    <hr />
    <hr />
    <h5>Orderer info</h5>
    <div><span>Name: </span><span>@Model.UserFullName</span></div>
    <div><span>Address: </span><span>@Model.Address</span></div>
    <div><span>Phone Number: </span><span>@Model.PhoneNumber</span></div>

    <hr />
    <h5>Pizza info</h5>
    <div><span>Pizza: </span><span>@Model.PizzaName</span></div>
    <div><span>Size: </span><span>@Model.Size</span></div>
</div>