@model OrderViewModel

    <div>
        <hr />
        <hr />
        <h5>Orderer info</h5>
        @Html.DisplayFor(x => x.UserFullName)
        <hr />
        @Html.DisplayFor(x => x.Address)
        <hr />
        @Html.DisplayFor(x=> x.PhoneNumber)

        <hr />
        <h5>Pizza info</h5>
        <div><span>Pizza: </span><span>@Model.PizzaName</span></div>
        <div><span>Size: </span><span>@Model.Size</span></div>
    </div>