@model OrderDetailsViewModel
<h2>Order Details</h2>
<div><a asp-action="AddPizza" asp-controller="Order" asp-route-id="@Model.Id">Add Pizza</a></div>
<ul>
    <li>Price: @Model.Price</li>
    <li>Payment Method: @Model.PaymentMethod</li>
    <li>Pizza Store: @Model.PizzaStore</li>
    <li>User: @Model.UserFullName</li>
    <li>
        <ol>

            @foreach (var pizzaName in Model.PizzaNames)
            {
                <li>@pizzaName</li>
            }
        </ol>
    </li>
</ul>
