@model OrdersViewModel

<h1>Orders</h1>

<h2>Fun Facts</h2>
<h3>Our first pizza ever to be delieverd was: @Model.FirstPizza</h3>
<h3>Our first customer is: @Model.FirstPersonName</h3>
<h3>Total orders since we start delievering: @Model.NumberOfOrders</h3>
<br />

<h2>All Orders</h2>
<div class="orders">
    @foreach (var order in @Model.Orders)
    {
        <partial name="~/Views/Shared/_Order.cshtml" for="@order" />
    }
</div>
