@model PizzaApp.MVC1.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "CreateUser";
}

<h2>Create User</h2>


<form class="form-control" action="/" method="post">
    <input type="text" placeholder="Full name" name="FullName" value="@Model.FullName" />
    <input type="text" placeholder="Address" name="Address" value="@Model.Address" />
    <input type="text" placeholder="Phone number" name="Phonenumber" value="@Model.PhoneNumber" />
    <input type="text" placeholder="User name" name="Phonenumber" value="@Model.Username" />
    <input type="text" placeholder="email" name="Email" value="@Model.Email" />
    <button type="submit">Create user</button>
</form>


