@model PizzaApp.MVC1.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "GetUser";
}

<h2>Get User</h2>

<ul>
    <li>@Model.FullName</li>
    <li>@Model.Address</li>
    <li>@Model.Email</li>
    <li>@Model.PhoneNumber</li>
    <li>@Model.Username</li>
</ul>

