
@{
    ViewData["Title"] = "Create";
}
@model BookCreateViewModel

<h2>Create</h2>
<hr />

@using (Html.BeginForm("Create", "Book", FormMethod.Post))
{
    @*Inputs by using HTML Helpers*@
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title)
    <br />

    @Html.LabelFor(x => x.ISBN)
    @Html.TextBoxFor(x => x.ISBN)
    <br />

    @Html.LabelFor(x => x.AuthorFullName)
    @Html.TextBoxFor(x => x.AuthorFullName)
    <br />

    @Html.LabelFor(x => x.AuthorAge)
    @Html.TextBoxFor(x => x.AuthorAge)
    <br />


    @*Input by using Tag helper*@
    @*<input asp-for="AuthorAge" />*@


    @*Create select list by using HTML Helper*@
    @Html.LabelFor(x => x.Genre)
    @Html.DropDownListFor(x => x.Genre, Html.GetEnumSelectList(Model.Genre.GetType()), "--Select genre--")
    <br />


    @*Create select list by using Tag Helper*@
    @*<select asp-for="Genre" asp-items="Html.GetEnumSelectList<Genre>()">
            <option value="">Select genre</option>
        </select>*@

    @Html.LabelFor(x => x.IsAvailable)
    @Html.CheckBoxFor(x => x.IsAvailable)
    <br />
    <input type="submit" value="Add"/>

}


